<!-- particles.js container -->
<div id="particles-js" data-controller="particles"></div>

<!-- Main Content Container -->
<div class="document-page">
  <div class="document-container">
    <%= render partial: "home/upload_box" %>
    <%= render partial: "home/chat_box" %>
    <%= render partial: "home/summary_box" %>
  </div>
</div>
